.portfolio__stonk.show-description {
    height: 2rem;
    margin-bottom: 15px;
  }
  
  /* Arrows */
  
  /* closed */
  .portfolio__question-button::after {
    transition: transform 300ms ease-out; 
  }
  
  /* open */
  .portfolio-weight-bold::after {
    transform: rotate(720deg);
  }