.portfolio {
    width: 100%;
    //padding-top: 65px;
    padding-bottom: 80px;

    &__title {
      margin: 0;
      padding-bottom: 25px;
      
    }

    &__portfolioName {
      //max-width: 350px;
      width: 100%;
      border-bottom: 1px solid $light-grayish-blue;     
    }

    &__portfolioName-button {
      width: 100%;
      display: flex;
      justify-content: space-between;
      border: none;
      background-color: $soft-blue;
      padding: 0px;
      cursor: pointer;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 10px;

      &::after {
        content: url(../images/icon-arrow-down.svg);
        margin-right: 17px;
        transform: rotate(90deg);
      }

      &:hover {
        color: $soft-red;
      }
    }

    &__stonk {
      margin-left: 15px;
      padding-right: 17px;
      margin-top: 0;
      margin-bottom: 0;
      height: 0;
      overflow: hidden;
      transition: all 200ms ease-out;
      font-size:12px;
      background-color: rgb(240, 234, 226);
    }
}